body {
  display: flex;
  justify-content: center;
}

.container {
  height: 91vh;
  width: 91vw;
  position: fixed;
}

.controller {
  justify-content: center;
  position: fixed;
  margin: 1vh 1vw 1vh 1vw;
  height: 90vh;
  width: 90vw;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0px darkred;
}

.skull {
  background: linear-gradient(rgb(175, 0, 0), rgb(129, 0, 0));
  display: flex;
  position: fixed;
  height: 87vh;
  width: 88vw;
  margin: 1vh 1vw 1vh 1vw;
  border-radius: 20px;
  border: 0.5px solid black;
}

#joystick {
  display: grid;
  position: fixed;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 30vh;
  width: 22vw;
  margin: 40vh 0 0 5vw;
}

#j-top {
  display: flex;
  justify-content: center;
  grid-column: 2/2;
  grid-row: 1/1;
  height: 10vh;
  width: 14.67vh;
  border-top: 5px solid rgb(110, 0, 55);
  border-left: 5px solid rgb(110, 0, 55);
  border-right: 5px solid rgb(110, 0, 55);
}

#up-arrow {
  background: linear-gradient(black, grey);
  width: 8vw;
}

#rgt-arrow {
  background: linear-gradient(90deg, grey, black);
  width: 8vw;
}

#bot-arrow {
  background: linear-gradient(grey, black);
  width: 8vw;
}

#lft-arrow {
  background: linear-gradient(90deg, black, grey);
  width: 8vw;
}


#cen-arrow {
  background-color: gray;
  width: 8vw;

}

#j-rgt {
  display: flex;
  justify-content: center;
  grid-column: 3/3;
  grid-row: 2/2;
  height: 10vh;
  width: 14.67vh;
  border-top: 5px solid rgb(110, 0, 55);
  border-right: 5px solid rgb(110, 0, 55);
  border-bottom: 5px solid rgb(110, 0, 55);
}

#j-mid {
  display: flex;
  justify-content: center;
  grid-column: 2/2;
  grid-row: 2/2;
  height: 11vh;
  width: 15.8vh;
}

#j-bot {
  display: flex;
  justify-content: center;
  grid-column: 2/2;
  grid-row: 3/3;
  height: 10vh;
  width: 14.67vh;
  border-bottom: 5px solid rgb(110, 0, 55);
  border-left: 5px solid rgb(110, 0, 55);
  border-right: 5px solid rgb(110, 0, 55);
}

#j-lft {
  display: flex;
  justify-content: center;
  grid-column: 1/1;
  grid-row: 2/2;
  height: 10vh;
  width: 14.67vh;
  border-top: 5px solid rgb(110, 0, 55);
  border-left: 5px solid rgb(110, 0, 55);
  border-bottom: 5px solid rgb(110, 0, 55);
}


.buttons {
  display: grid;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 52vh;
  width: 30vw;
  margin: 22vh 0vw 0vh 55vw;
}

#X {
  display: flex;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1/2;
  height: 16vh;
  width: 8vw;
  border-radius: 100px;
  border: 10px solid rgb(110, 0, 55);

}

#x1 {
  background: linear-gradient(45deg, grey, black);
  border-radius: 50%;
  width: 8vw;
  border: 3px solid black;
}

#A {
  display: flex;
  justify-content: center;
  grid-column: 3/3;
  grid-row: 2/3;
  height: 16vh;
  width: 8vw;
  border-radius: 100px;
  border: 10px solid rgb(110, 0, 55);
}

#a1 {
  background: linear-gradient(45deg, grey, black);
  border-radius: 50%;
  width: 8vw;
  border: 3px solid black;
}

#B {
  display: flex;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 3/3;
  height: 16vh;
  width: 8vw;
  border-radius: 100px;
  border: 10px solid rgb(110, 0, 55);
}

#b1 {
  background: linear-gradient(45deg, grey, black);
  border-radius: 50%;
  width: 8vw;
  border: 3px solid black;
}

#Y {
  display: flex;
  justify-content: center;
  grid-column: 1/1;
  grid-row: 2/3;
  height: 16vh;
  width: 8vw;
  border-radius: 100px;
  border: 10px solid rgb(110, 0, 55);
}

#y1 {
  background: linear-gradient(45deg, grey, black);
  border-radius: 50%;
  width: 8vw;
  border: 3px solid black;
}

#cntr {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 13.7vh;
  width: 10vw;
}

#funciones {
  z-index: 3;
  position: fixed;
  height: 15vh;
  width: 20vw;
  margin: 55vh 0vw 0vh 31vw;
}

#funciones-symbolos {
  display: flex;
  align-items: center;
  text-align: center
}

#funciones-botones {
  position: fixed;
  display: flex;
  height: 15vh;
  width: 15vw;
  border-radius: 10%;
  justify-content: space-between;
  margin: 2.5vh 0vw 0vh 2.5vw;
}

#start {
  background-color: rgb(44, 44, 44);
  height: 5vh;
  width: 5vw;
  display: flex;
  justify-content: center;
  border-radius: 10%;
  border: 3px solid black;
}

#txt-select {
  height: 5vh;
  width: 14vw;
}

#select {
  background-color: rgb(44, 44, 44);
  height: 5vh;
  width: 5vw;
  display: flex;
  justify-content: center;
  border-radius: 10%;
  border: 3px solid black;
}

#txt-start {
  height: 5vh;
  width: 14vw;
}

#bordes {
  position: fixed;
  height: 92vh;
  width: 92vw;
}

.top {
  display: flex;
}

#top_lft {
  background-color: black;
  height: 10vh;
  width: 15vw;
  border-top-left-radius: 30%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 5%;
  margin-left: 1vw;
}

#top_cen {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2OrdhVSP7Vvv64AHOZG4dYXtbkT0J2dtPMA&usqp=CAU);
  background-size: cover;
  height: 10vh;
  width: 62vw;
  border-radius: 8%;
}

#top_rgt {
  background-color: black;
  height: 10vh;
  width: 15vw;
  border-top-right-radius: 30%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 5%;
  margin-right: 1vw;
}

#top_bot {
  height: 10vh;
  width: 15vw;
}

.bot {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2OrdhVSP7Vvv64AHOZG4dYXtbkT0J2dtPMA&usqp=CAU);
  background-size: cover;
  height: 80vh;
  width: 90vw;
  border-radius: 20px;
  margin-left: 1vw;
}

#fondo-rome-i {
  background-color: black;
  color: goldenrod;
  position: fixed;
  height: 13vh;
  width: 6vw;
  margin: 5%;
  align-items: center;
}

#I {
  font-size: 25px;
  text-align: center;
}

#fondos-mid {
  display: flex;
  position: fixed;
  border-radius: 20px;
  height: 10.5vh;
  width: 25vw;
  margin: 59.5vh 0vw 0vh 31vw;
}

#fondo-mid-lft {
  background: linear-gradient(rgb(97, 0, 0), black);
  height: 10.5vh;
  width: 5vw;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#fondo-mid-mid {
  background: linear-gradient(rgb(97, 0, 0), black);
  height: 10.5vh;
  width: 10vw;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#fondo-mid-rgt {
  background: linear-gradient(rgb(97, 0, 0), black);
  height: 10.5vh;
  width: 5vw;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#trim {
  display: grid;
  background-image: url(https://eda.gallery/wp-content/uploads/2020/08/placa-de-oro-edited.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 3/5;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 20vh 20vh 1fr 20vh;
  height: 83vh;
  width: 88vw;
  margin: 2vh 1vw 1vh 1vw;
  border-radius: 2%;
  border: 2px solid black;
}

#color-gold1 {
  grid-row: 1/6;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

#color-gold2 {
  grid-row: 3/6;
  border-top-right-radius: 5%;
  border-end-end-radius: 5%;

}

#color-burdeos {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2OrdhVSP7Vvv64AHOZG4dYXtbkT0J2dtPMA&usqp=CAU);
  background-size: cover;
  opacity: unset;
  border-bottom-left-radius: 5%;
  border-top-right-radius: 3%;
  grid-column: 3/5;
  grid-row: 1/3;
}

#shade1 {
  position: fixed;
  height: 10vh;
  width: 90vw;
  margin: 1vh 2vw;
  border-top-left-radius: 30%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 5%;
  background: linear-gradient(45deg, grey, black);
}

#shade2 {
  position: fixed;
  height: 80vh;
  width: 90vw;
  border-radius: 20px;
  margin: 11vh 0.5vh;
  background: linear-gradient(45deg, grey, black);
}

#line1 {
  background-color: black;
  position: fixed;
  height: 0.5vh;
  width: 85.8vw;
  margin-top: 65vh;
}

#line2 {
  background-color: black;
  position: fixed;
  height: 0.5vh;
  width: 85.8vw;
  margin-top: 63vh;
}