body {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: center;
}

.container {
  /* background-color: grey; */
  height: 91vh;
  width: 91vw;
  position: fixed;
}

.controller {
  background-color: darkred;
  justify-content: center;
  position: fixed;
  margin: 1vh 1vw 1vh 1vw;
  height: 90vh;
  width: 90vw;
  border-radius: 20px;
}

.skull {
  background-color: red;
  display: flex;
  position: fixed;
  height: 88vh;
  width: 88vw;
  margin: 1vh 1vw 1vh 1vw;
  border-radius: 20px;
}

#joystick {
  background-color: aqua;
  display: grid;
  position: fixed;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 30vh;
  width: 22vw;
  margin: 40vh 0 0 5vw;
}

#j-top {
  background-color: rgb(0, 185, 185);
  grid-column: 2/2;
  grid-row: 1/1;
}
#j-rgt {
  background-color: rgb(0, 185, 185);
  grid-column: 3/3;
  grid-row: 2/2;
}

#j-mid {
  background-color: rgb(0, 134, 134);
  grid-row: 2/2;
  grid-column: 2/2;
}

#j-bot {
  background-color: rgb(0, 95, 95);
  grid-column: 2/2;
  grid-row: 3/3;
}
#j-lft{
  grid-column: 1/1;
  grid-row: 2/2;
}

.buttons {
  display: grid;
  position: fixed;
  text-align: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(197, 134, 255);
  height: 40vh;
  width: 30vw;
  margin: 15vh 0vw 0vh 55vw;
}

#X {
  background-color: rgb(163, 98, 224);
  grid-row: 1/3;
  grid-column: 2/3;
}

#A {
  background-color: rgb(163, 108, 214);
  grid-row: 2/3;
  grid-column: 3/3;
}

#B {
  background-color: rgb(93, 39, 143);
  grid-row: 3/3;
  grid-column: 2/3;
}

#Y {
  background-color: rgb(74, 29, 116);
  grid-row: 2/3;
  grid-column: 1/1;
}

#cntr {
  background-color: rgb(51, 26, 75);
  grid-row: 2/3;
  grid-column: 2/3;
}

#funciones {
  background-color: green;
  justify-content: center;
  position: fixed;
  align-items: center;
  height: 12vh;
  width: 14vw;
  margin: 55vh 1vw 0vh 30vw;
}

#funciones-symbolos {
  display: flex;
  align-items: center;
  text-align: center
}

#funciones-botones {
  display: flex;
  align-items: center;
  text-align: center
}

#start {
  background-color: rgb(3, 85, 3);
  height: 10vh;
  width: 15vw;
  
}

#txt-select {
  height: 5vh;
  width: 15vw;
}

#txt-start {
  height: 5vh;
  width: 15vw;
}

#select {
  background-color: rgb(0, 68, 0);
  height: 10vh;
  width: 15vw;
}

#bordes {
  /* background-color: lawngreen; */
  position: fixed;
  height: 92vh;
  width: 92vw;
}

.top {
  display: flex;
  border-radius: 20px;
}

#top_lft {
  background-color: black;
  height: 10vh;
  width: 15vw;
}

#top_cen {
  background-color: rgb(97, 0, 0);
  height: 10vh;
  width: 62vw;
}

#top_rgt {
  background-color: black;
  height: 10vh;
  width: 15vw;
}

#top_bot {
  height: 10vh;
  width: 15vw;
}

.bot {
  background-color: rgb(97, 0, 0);
  height: 82vh;
  width: 92vw;
  border-radius: 20px;
}

#fondo-rome-i {
  background-color: black;
  color: aliceblue;
  position: fixed;
  height: 13vh;
  width: 6vw;
  margin: 3%;
  align-items: center;

}

#I {
  font-size: 25px;
  text-align: center;
}

#fondos-mid {
  display: flex;
  position: fixed;
  border-radius: 20px;
  height: 18vh;
  width: 18vw;
  margin: 54vh 1vw 1vh 29vw;
}

#fondo-mid-lft {
  background-color: rgb(0, 0, 219);
  height: 17vh;
  width: 2vw;
  border-radius: 10px;
}

#fondo-mid-mid {
  background-color: rgb(0, 0, 126);
  height: 17vh;
  width: 12vw;
  border-radius: 10px;
}

#fondo-mid-rgt {
  background-color: rgb(0, 0, 68);
  height: 17vh;
  width: 2vw;
  border-radius: 10px;
}

#trim {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 20vh 20vh 1fr 20vh;
  height: 83vh;
  width: 88vw;
  margin: 1%
}

#color-gold1{
  background-color: goldenrod;
  grid-column: 1/3;
  grid-row: 1/6;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}
#color-gold2{
  background-color: goldenrod;
  grid-column: 3/5;
  grid-row: 3/6;
  border-top-right-radius: 5%;
  border-end-end-radius: 5%;
}
#color-burdeos{
  background-color: red;
  border-bottom-left-radius: 5%;
  grid-column: 3/5;
  grid-row: 1/3;
}
