body {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: center;
}

.container {
  /* background-color: grey; */
  height: 91vh;
  width: 91vw;
  position: fixed;
}

.controller {
  background-color: darkred;
  justify-content: center;
  position: fixed;
  margin: 1vh 1vw 1vh 1vw;
  height: 90vh;
  width: 90vw;
  border-radius: 20px;
}

.skull {
  background-color: red;
  display: flex;
  position: fixed;
  height: 88vh;
  width: 88vw;
  margin: 1vh 1vw 1vh 1vw;
  border-radius: 20px;
}

#joystick {
  /* background-color: aqua; */
  display: grid;
  position: fixed;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 30vh;
  width: 22vw;
  margin: 40vh 0 0 5vw;
}

#j-top {
  background-color: black;
  grid-column: 2/2;
  grid-row: 1/1;
  height: 10vh;
  width: 14.67vh;
}

#j-rgt {
  background-color: black;
  grid-column: 3/3;
  grid-row: 2/2;
  height: 10vh;
  width: 14.67vh;
}

#j-mid {
  background-color: black;
  grid-column: 2/2;
  grid-row: 2/2;
  height: 10vh;
  width: 14.67vh;
}

#j-bot {
  background-color: black;
  grid-column: 2/2;
  grid-row: 3/3;
  height: 10vh;
  width: 14.67vh;
}

#j-lft {
  background-color: black;
  grid-column: 1/1;
  grid-row: 2/2;
  height: 10vh;
  width: 7.38vw;
}

.buttons {
  display: grid;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* background-color: rgb(197, 134, 255); */
  height: 52vh;
  width: 30vw;
  margin: 22vh 0vw 0vh 55vw;
}

#X {
  background: linear-gradient(45deg, grey, black);
  grid-column: 2/3;
  grid-row: 1/2;
  height: 16vh;
  width: 8vw;
  border-radius: 100px;
  
}

#A {
  background: linear-gradient(45deg, grey, black);
  grid-column: 3/3;
  grid-row: 2/3;
  height: 16vh;
  width: 8vw;
  border-radius: 100px
}

#B {
  background: linear-gradient(45deg, grey, black);
  grid-column: 2/3;
  grid-row: 3/3;
  height: 16vh;
  width: 8vw;
  border-radius: 100px
}

#Y {
  background: linear-gradient(45deg, grey, black);
  grid-column: 1/1;
  grid-row: 2/3;
  height: 16vh;
  width: 8vw;
  border-radius: 100px
}

#cntr {
  /* background-color: rgb(51, 26, 75); */
  grid-column: 2/3;
  grid-row: 2/3;
  height: 13.7vh;
  width: 10vw;
}

#funciones {
  position: fixed;
  height: 15vh;
  width: 20vw;
  margin: 55vh 0vw 0vh 31vw;
}

#funciones-symbolos {
  display: flex;
  align-items: center;
  text-align: center
}

#funciones-botones {
  position: fixed;
  display: flex;
  height: 15vh;
  width: 15vw;
  border-radius: 10%;
  justify-content: space-between;
  margin: 2.5vh 0vw 0vh 2.5vw;

}

#start {
  background-color: rgb(146, 85, 85);
  height: 5vh;
  width: 5vw;

}

#txt-select {
  height: 5vh;
  width: 14vw;
}

#select {
  background-color: rgb(148, 74, 74);
  height: 5vh;
  width: 5vw;
}

#txt-start {
  height: 5vh;
  width: 14vw;
}

#bordes {
  /* background-color: lawngreen; */
  position: fixed;
  height: 92vh;
  width: 92vw;
}

.top {
  display: flex;
}

#top_lft {
  background-color: black;
  height: 10vh;
  width: 15vw;
  border-top-left-radius: 30%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 5%;
}

#top_cen {
  background-color: rgb(97, 0, 0);
  height: 10vh;
  width: 62vw;
  border-radius: 8%;
}

#top_rgt {
  background-color: black;
  height: 10vh;
  width: 15vw;
  border-top-right-radius: 30%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 5%;
}

#top_bot {
  height: 10vh;
  width: 15vw;
}

.bot {
  background-color: rgb(97, 0, 0);
  height: 82vh;
  width: 92vw;
  border-radius: 20px;
}

#fondo-rome-i {
  background-color: black;
  color: goldenrod;
  position: fixed;
  height: 13vh;
  width: 6vw;
  margin: 5%;
  align-items: center;

}

#I {
  font-size: 25px;
  text-align: center;
}

#fondos-mid {
  display: flex;
  position: fixed;
  border-radius: 20px;
  height: 11vh;
  width: 25vw;
  margin: 59.5vh 0vw 0vh 31vw;
}

#fondo-mid-lft {
  background-color: rgb(97, 0, 0);
  height: 11vh;
  width: 5vw;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#fondo-mid-mid {
  background-color: rgb(97, 0, 0);
  height: 11vh;
  width: 10vw;

}

#fondo-mid-rgt {
  background-color: rgb(97, 0, 0);
  height: 11vh;
  width: 5vw;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

#trim {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 20vh 20vh 1fr 20vh;
  height: 83vh;
  width: 88vw;
  margin: 1%
}

#color-gold1 {
  background-color: goldenrod;
  grid-column: 1/3;
  grid-row: 1/6;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

#color-gold2 {
  background-color: goldenrod;
  grid-column: 3/5;
  grid-row: 3/6;
  border-top-right-radius: 5%;
  border-end-end-radius: 5%;
}

#color-burdeos {
  background-color: red;
  border-bottom-left-radius: 5%;
  grid-column: 3/5;
  grid-row: 1/3;
}
#shade1 {
  position: fixed;
  height: 10vh;
  width: 90vw;
  margin: 1vh 2.2vw 0 0;
  border-top-left-radius: 30%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 5%;
  background: linear-gradient(45deg, grey, black);
}
#shade2 {
  /* position: fixed; */
  height: 82vh;
  width: 92vw;
  border-radius: 20px;
  margin: 11vh 0.5vh 0 0;
  background: linear-gradient(45deg, grey, black);
}